/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin-left: 0;
}
@media (min-width: 500px) {
  body {
    margin-left: 130px;
  }
}
@media (min-width: 768px) {
  body {
    margin-left: 140px;
  }
}
@media (min-width: 992px) {
  body {
    margin-left: 150px;
  }
}
@media (min-width: 1260px) {
  body {
    margin-left: 160px;
  }
}

.sidebar-wrapper {
  display: none;
  height: 100vh;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #171E26;
  border-right: 2px solid #e5aa8c;
}
@media (min-width: 500px) {
  .sidebar-wrapper {
    display: block;
  }
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
}
.sidebar__letter-block {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar--letter {
  color: #e5aa8c;
  font-weight: bold;
  font-size: 50px;
}
.sidebar--letter:hover {
  color: #748E54;
}
.sidebar__nav-block {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar__nav-list {
  padding: 0;
}
.sidebar__list-item {
  padding: 7px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1.2;
}
.sidebar__list-item:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #748E54;
          text-decoration-color: #748E54;
}
.sidebar__contact {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar--contact {
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
}
.sidebar--contact:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #748E54;
          text-decoration-color: #748E54;
}
.sidebar__social-wrapper {
  height: 60px;
  width: 100px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__social-div {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
}
.sidebar--icons {
  color: #e5aa8c;
  font-size: 25px;
  margin-top: 40px;
}
.sidebar--icons:hover {
  color: #748E54;
}

@media (min-width: 425px) {
  .sidebar-wrapper {
    width: 130px;
  }
}
@media (min-width: 768px) {
  .sidebar-wrapper {
    width: 140px;
  }
}
@media (min-width: 992px) {
  .sidebar-wrapper {
    width: 150px;
    border-right: 3px solid #e5aa8c;
  }
}
@media (min-width: 1260px) {
  .sidebar-wrapper {
    width: 160px;
  }
}

@media (min-width: 425px) {
  .sidebar__letter-block {
    height: 128px;
  }
}
@media (min-width: 768px) {
  .sidebar__letter-block {
    height: 138px;
  }
}
@media (min-width: 992px) {
  .sidebar__letter-block {
    height: 147px;
    border-bottom: 3px solid #e5aa8c;
  }
}
@media (min-width: 1260px) {
  .sidebar__letter-block {
    height: 158px;
  }
}
@media (min-width: 425px) {
  .sidebar--letter {
    font-size: 55px;
  }
}
@media (min-width: 768px) {
  .sidebar--letter {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .sidebar--letter {
    font-size: 65px;
  }
}
@media (min-width: 1260px) {
  .sidebar--letter {
    font-size: 70px;
  }
}
@media (min-width: 425px) {
  .sidebar__nav-block {
    height: 165px;
  }
}
@media (min-width: 768px) {
  .sidebar__nav-block {
    height: 175px;
  }
}
@media (min-width: 992px) {
  .sidebar__nav-block {
    height: 195px;
    border-bottom: 3px solid #e5aa8c;
  }
}
@media (min-width: 1260px) {
  .sidebar__nav-block {
    height: 205px;
  }
}
@media (min-width: 425px) {
  .sidebar__list-item {
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .sidebar__list-item {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  .sidebar__list-item {
    font-size: 16px;
  }
}
@media (min-width: 1260px) {
  .sidebar__list-item {
    font-size: 17px;
  }
}
@media (min-width: 425px) {
  .sidebar__contact {
    height: 45px;
  }
}
@media (min-width: 768px) {
  .sidebar__contact {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .sidebar__contact {
    height: 55px;
    border-bottom: 3px solid #e5aa8c;
  }
}
@media (min-width: 1260px) {
  .sidebar__contact {
    height: 60px;
  }
}
@media (min-width: 425px) {
  .sidebar--contact {
    font-size: 17px;
  }
}
@media (min-width: 768px) {
  .sidebar--contact {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .sidebar--contact {
    font-size: 22px;
  }
}
@media (min-width: 425px) {
  .sidebar--icons {
    font-size: 27px;
  }
}
@media (min-width: 768px) {
  .sidebar--icons {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .sidebar--icons {
    font-size: 35px;
  }
}
@media (min-width: 1260px) {
  .sidebar--icons {
    font-size: 40px;
  }
}

:root {
  --glitch-col-1: rgba(45, 52, 58, 0.75);
  --glitch-col-2: rgba(134, 139, 143, 0.75);
  --glitch-col-3: rgba(37, 43, 53, 0.75);
}

.hero-wrapper {
  background-image: url(../img/abstract-oil-dark.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__header, .hero__footer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.hero__foot-text, .hero__foot-arrow {
  margin-bottom: 7px;
}
.hero--title, .hero--subtitle, .hero--foot-text, .hero--foot-arrow {
  font-weight: 600;
  color: #e5aa8c;
  font-family: "DM Sans";
  text-align: center;
  text-shadow: #171E26 2px 2px 80px;
}
.hero--title {
  font-size: 40px;
  margin-bottom: 5px;
}
.hero--subtitle {
  font-size: 25px;
}
.hero--foot-text, .hero--foot-arrow {
  font-size: 15px;
}

@media (min-width: 425px) {
  .hero--title {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  .hero--title {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .hero--title {
    font-size: 60px;
  }
}
@media (min-width: 1260px) {
  .hero--title {
    font-size: 80px;
  }
}
@media (min-width: 425px) {
  .hero--subtitle {
    font-size: 25px;
  }
}
@media (min-width: 768px) {
  .hero--subtitle {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .hero--subtitle {
    font-size: 40px;
  }
}
@media (min-width: 1260px) {
  .hero--subtitle {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .hero--foot-text, .hero--foot-arrow {
    font-size: 25px;
  }
}
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-aligner {
  height: 100%;
  width: 100%;
  background-color: #1C3636;
  padding: 20px 0;
  box-shadow: inset 0 0 12px black;
  display: flex;
  justify-content: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #1C3636;
  padding: 5px;
  margin: 10px;
  overflow: visible;
}

@media (min-width: 1300px) {
  .card-wrapper {
    width: 1100px;
  }
}

.card {
  font-family: "DM Sans", sans-serif;
  color: #DD9069;
  background-image: url(../../img/ioccc_donut.jpg);
  background-size: cover;
  padding: 50px 0 0;
  height: 400px;
  margin: 15px;
  max-width: 30ch;
  border-radius: 0.5rem;
  box-shadow: 0 0 18px black;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card-1 {
  background-image: url(../../img/nm-img.PNG);
}

.card-2 {
  background-image: url(../../img/oolio.PNG);
  background-position: center;
}

.card-3 {
  background-image: url(../../img/css-animation.gif);
  background-position: center;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card--content {
  /*
  padding variable measurement is locally scoped (can only be used in card
  content). It's used with calc to calculate the pseudo elements length to
  fit the content of the
  */
  --padding: 1.5rem;
  padding: var(--padding);
  height: auto;
  width: 100%;
  background: linear-gradient(rgba(23, 30, 38, 0) 4%, rgba(23, 30, 38, 0.8) 15%, #171e26);
}

.card--content-1 {
  transform: translateY(150px);
}

.card--content-2 {
  transform: translateY(170px);
}

.card--content-3 {
  transform: translateY(165px);
}

.card--content-4,
.card--content-5,
.card--content-6 {
  transform: translateY(100px);
}

.card--title {
  /*
  max content is used so the pseudo element is the same size as the content,
  if the text wraps over one line this will break. max-width: 100%; should work
  as a substitute in that case.
  */
  width: max-content;
  position: relative;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.card--title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: #748E54;
  transform-origin: left;
  transition: transform 500ms ease;
}

.card:hover .card--title::after,
.card:focus-within .card--title::after {
  /*
  this selector selects the pseudo element on hover. the declaration gives
  the horizontal line a point to animate and transition to.
  */
  transform: scaleX(1);
}

.card--body {
  color: #DD9069;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 20px 0 20px 0;
}

.body-button-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.card--buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25rem;
  border: 3px solid #748E54;
  background-color: var(--clr-neutral-900/0.5);
  color: #748E54;
  text-decoration: none;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: #748E54;
  color: #232d3a;
}

@media (hover) {
  .card--content {
    transform: translateY(290px);
    transition: transform 500ms ease;
  }

  .card:hover .card--content-1,
.card:focus-within .card--content-1 {
    transform: translateY(75%);
    transition-delay: 500ms;
  }

  .card:hover .card--content-2,
.card:focus-within .card--content-2 {
    transform: translateY(75%);
    transition-delay: 500ms;
  }

  .card:hover .card--content-3,
.card:focus-within .card--content-3 {
    transform: translateY(90%);
    transition-delay: 500ms;
  }

  .card:hover .card--content-4,
.card:focus-within .card--content-4 {
    transform: translateY(40%);
    transition-delay: 500ms;
  }

  .card:hover .card--content-5,
.card:focus-within .card--content-5 {
    transform: translateY(40%);
    transition-delay: 500ms;
  }

  .card:hover .card--content-6,
.card:focus-within .card--content-6 {
    transform: translateY(40%);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card--content > *:not(.card--title) {
    opacity: 0;
  }

  .card:hover .card--content > *:not(.card--title),
.card:focus-within .card--content > *:not(.card--title) {
    opacity: 1;
  }

  .card--title::after {
    transform: scaleX(0);
  }
}
/*
  This is a media query to account for people who wish to have no
 */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #ie {
    width: 335px !important;
  }

  .card--content {
    background: #232d3a;
    padding: 5px;
  }

  .card--content-1 {
    transform: translateY(155px);
  }

  .card--content-2,
.card--content-3,
.card--content-4,
.card--content-5,
.card--content-6 {
    transform: translateY(122px);
  }
}
.footer-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171E26;
}

.footer-wrapper {
  width: auto;
  max-width: 385px;
  height: 100%;
  background-color: #171E26;
}
@media (min-width: 768px) {
  .footer-wrapper {
    max-width: 760px;
    width: 760px;
  }
}
@media (min-width: 1300px) {
  .footer-wrapper {
    max-width: 1100px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
  }
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
  background-color: #171E26;
  font-family: "DM Sans", sans-serif;
  color: #DD9069;
}
.footer__text-div, .footer__form {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .footer__text-div, .footer__form {
    flex-basis: 50%;
  }
}
.footer__text-div {
  padding: 20px;
}
.footer__header, .footer__email, .footer__number, .footer__p {
  margin-bottom: 20px;
}
@media (min-width: 1260px) {
  .footer__p {
    width: 40ch;
  }
}
.footer__email-number {
  display: flex;
  flex-direction: column;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 400px;
}
.footer__field-container {
  flex-basis: 100%;
  padding: 5px 10px;
}
.footer__field-container-duel {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 5px 10px;
}
.footer__field-container-big {
  height: 150px;
}
.footer__form-field {
  width: 100%;
  height: 100%;
  background-color: #1C3636;
  color: #DD9069;
  outline: none;
  border-style: none;
  border-radius: 3px;
  box-shadow: inset 0 0 5px black;
  padding-left: 15px;
}
.footer__form-field1 {
  margin-right: 5px;
}
.footer__form-field2 {
  margin-left: 5px;
}
.footer__form-field5 {
  resize: none;
  color: #152828;
}
.footer__btn-div {
  padding: 5px 10px;
  height: 50px;
}
.footer--header {
  font-size: 35px;
}
.footer--email, .footer--number {
  color: #748E54;
  font-weight: 700;
  font-size: 17px;
}
.footer--email:hover, .footer--number:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #748E54;
          text-decoration-color: #748E54;
}
.footer--email {
  font-size: 17px;
}

input[type=button] {
  background-color: #171E26;
  border-radius: 5px;
  border: 3px solid #748E54;
  color: #748E54;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

input[type=button]:hover {
  background-color: #748E54;
  border: 3px solid #748E54;
  color: #152828;
}

::placeholder {
  color: #D98659;
}

textarea {
  overflow: auto;
  padding-top: 15px;
  color: #D98659;
}

.btn {
  height: 100%;
  width: 120px;
}

.bottom {
  margin: 0 0 10px 0;
  width: 100%;
  height: auto;
  background-color: #171E26;
}
.bottom__foot-arrow-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom--foot-text, .bottom--foot-arrow {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  font-style: normal;
  color: #DD9069;
  font-family: "DM Sans";
}

.wrapper {
  background-color: #1C3636;
  height: 100vh;
}

.scs {
  background-color: #1C3636;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
}
.scs__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
}
@media (min-width: 768px) {
  .scs__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
.scs__title {
  align-self: center;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  flex-basis: 100%;
  padding-top: 20px;
}
.scs__block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #171E26;
  color: #748E54;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 12px black;
  letter-spacing: 1.2px;
}
@media (min-width: 768px) {
  .scs__block {
    margin: 10px;
    max-width: 280px;
  }
}
.scs__block-title {
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scs__block-p {
  margin-bottom: 15px;
}
.scs__block-p-group {
  line-height: 1.6;
}

.wrapper {
  width: auto;
  height: 100vh;
  background-color: #1C3636;
}

.about {
  background-color: #1C3636;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
}
.about__block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #171E26;
  color: #748E54;
  margin: 25px 15px;
  border-radius: 5px;
  box-shadow: 0 0 12px black;
  padding: 15px;
  width: 90%;
  max-width: 575px;
  align-self: center;
  letter-spacing: 1.2px;
  line-height: 1.6;
}
.about__title {
  text-align: center;
  margin-top: 25px;
  font-size: 2rem;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .footer {
    display: block;
  }
}
@media (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .footer__text-div, .footer__form {
    flex-basis: 45%;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scs__title {
    padding: 20px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie-bg {
    background-color: #1C3636;
    height: 100vh;
  }
}
@media (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .scs__wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .scs__block {
    max-width: 280px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero--title {
    font-size: 20px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 425px), (-ms-high-contrast: active) and (min-width: 425px) {
  .hero--title {
    font-size: 30px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .hero--title {
    font-size: 50px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 992px), (-ms-high-contrast: active) and (min-width: 992px) {
  .hero--title {
    font-size: 60px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 1260px), (-ms-high-contrast: active) and (min-width: 1260px) {
  .hero--title {
    font-size: 80px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero--subtitle {
    font-size: 15px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 425px), (-ms-high-contrast: active) and (min-width: 425px) {
  .hero--subtitle {
    font-size: 25px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 768px), (-ms-high-contrast: active) and (min-width: 768px) {
  .hero--subtitle {
    font-size: 30px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 992px), (-ms-high-contrast: active) and (min-width: 992px) {
  .hero--subtitle {
    font-size: 40px;
  }
}
@media (-ms-high-contrast: none) and (min-width: 1260px), (-ms-high-contrast: active) and (min-width: 1260px) {
  .hero--subtitle {
    font-size: 60px;
  }
}
.gradient-banner {
  height: 15rem;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.absolute-background {
  background: #171E26;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.code-aligner {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 8;
}

.code {
  position: absolute;
  z-index: 10;
  margin-top: 15rem;
  background-color: #1C3636;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  width: 80ch;
}
.code__p {
  width: 50ch;
  color: #e1a793;
  font-size: 20px;
  padding: 0.5em 0 0.5em 0;
}
.code__wrapper {
  display: inline-block;
  justify-content: center;
  background-color: #1C3636;
}
.code__container {
  width: auto;
  border-radius: 8px;
}

.gradient-banner {
  height: 150px;
}
@media (min-width: 768px) {
  .gradient-banner {
    height: 225px;
  }
}
@media (min-width: 992px) {
  .gradient-banner {
    height: 250px;
  }
}

.code-aligner::before {
  padding-top: 35px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .code-aligner::before {
    padding-top: 50px;
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .code-aligner::before {
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .code-aligner::before {
    font-size: 60px;
  }
}

.code {
  margin-top: 8.5rem;
  width: 340px;
  padding: 0.5em;
}
.code__p {
  width: 300px;
}
.code__container {
  width: 300px;
}
.code::before {
  font-size: 20px;
}
@media (min-width: 600px) {
  .code {
    width: 400px;
  }
  .code__p {
    width: 350px;
  }
  .code__container {
    width: 368px;
  }
}
@media (min-width: 768px) {
  .code {
    margin-top: 13rem;
    width: 600px;
    padding: 1.5em 3em;
  }
  .code__p {
    width: 512px;
  }
  .code__container {
    width: auto;
  }
  .code::before {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .code {
    margin-top: 14rem;
    width: 800px;
    padding: 2em 4em;
  }
  .code__p {
    width: 700px;
  }
}
.gradient-banner {
  background: #e5aa8c;
  background: linear-gradient(130deg, #e5aa8c 34%, #5ab490 49%, #49ae9f 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e5aa8c",endColorstr="#5ea802",GradientType=1);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
          clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
}

.bg-code-ex {
  height: 1300px;
}

.code-title::before {
  content: "Coding Examples";
  color: #171E26;
  font-size: 50px;
  padding-top: 50px;
}

.code-1 {
  padding: 30px 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 0;
  box-shadow: inset 0 0 12px black;
  z-index: 1;
  transform: translateY(25px);
}
.code-1--links {
  font-size: 30px;
}
.code-title::before {
  padding-top: 35px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .code-title::before {
    padding-top: 50px;
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .code-title::before {
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .code-title::before {
    font-size: 60px;
  }
}

.nm-title::before {
  content: "Netmatters Facsimile";
  color: #171E26;
  font-size: 50px;
  padding-top: 50px;
}

.nm-title::before {
  padding-top: 35px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .nm-title::before {
    padding-top: 50px;
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .nm-title::before {
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .nm-title::before {
    font-size: 60px;
  }
}

.bg-h-nm {
  height: 2125px;
}
@media (min-width: 425px) {
  .bg-h-nm {
    height: 2100px;
  }
}
@media (min-width: 768px) {
  .bg-h-nm {
    height: 2050px;
  }
}
@media (min-width: 992px) {
  .bg-h-nm {
    height: 2050px;
  }
}
@media (min-width: 1260px) {
  .bg-h-nm {
    height: 2050px;
  }
}

.db-title::before {
  content: "SQL Queries in Sakila DB";
  color: #171E26;
  font-size: 50px;
  padding-top: 50px;
}

.code-link {
  text-decoration: underline;
  color: #e5aa8c;
}

.coding-example-image {
  width: 100%;
  transition: transform 0.25s ease;
}

.coding-example-image:hover {
  transform: scale(1.5);
}

.code__wrapper {
  display: flex;
  flex-direction: column;
}

.db-title::before {
  padding-top: 35px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .db-title::before {
    padding-top: 50px;
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .db-title::before {
    font-size: 50px;
  }
}
@media (min-width: 1260px) {
  .db-title::before {
    font-size: 60px;
  }
}

.bg-h-db {
  height: 4620px;
}
@media (min-width: 425px) {
  .bg-h-db {
    height: 4650px;
  }
}
@media (min-width: 768px) {
  .bg-h-db {
    height: 4100px;
  }
}
@media (min-width: 992px) {
  .bg-h-db {
    height: 4000px;
  }
}
@media (min-width: 1260px) {
  .bg-h-db {
    height: 4000px;
  }
}

.table-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1C3636;
  padding: 5px;
}

.th {
  color: #e5aa8c;
  background-color: #171E26;
}

.td {
  color: #171E26;
  background-color: #748E54;
  border-right: 2px solid #e5aa8c;
  border-left: 2px solid #e5aa8c;
}