/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* /CSS reset */
* {
  box-sizing: border-box;
}

main {
  margin-left: 120px;
}

footer {
  margin-left: 120px;
}

.sidebar-wrapper {
  height: 100%;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #232d3a;
  border-right: 2px solid #e5aa8c;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
}
.sidebar__letter-block {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar--letter {
  color: #e5aa8c;
  font-weight: bold;
  font-size: 50px;
}
.sidebar__nav-block {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar__nav-list {
  padding: 0;
}
.sidebar__list-item {
  padding: 7px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 1.2;
}
.sidebar__list-item:hover {
  text-decoration: underline;
}
.sidebar__contact {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-bottom: 2px solid #e5aa8c;
}
.sidebar--contact {
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
}
.sidebar__social-wrapper {
  height: 80px;
  width: 100px;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__social-div {
  flex-basis: 80%;
  display: flex;
  justify-content: space-between;
}
.sidebar--icons {
  color: #e5aa8c;
}

.hero-wrapper {
  background-image: url(../img/abstract-oil-dark.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.hero__header, .hero__footer {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.hero__foot-text, .hero__foot-arrow {
  margin-bottom: 5px;
}
.hero--title, .hero--subtitle, .hero--foot-text, .hero--foot-arrow {
  font-weight: 600;
  color: #e5aa8c;
  font-family: "DM Sans";
  text-align: center;
  text-shadow: #232d3a 0px 0px 40px;
}
.hero--title {
  font-size: 40px;
  margin-bottom: 5px;
}
.hero--subtitle {
  font-size: 25px;
}

.card-aligner {
  height: 100%;
  width: 100%;
  background-color: #224444;
  padding: 20px 0;
  box-shadow: inset 0 0 12px black;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #224444;
  padding: 5px;
  margin: 10px;
  overflow: visible;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #232d3a;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 12px black;
}
@media (min-width: 425px) {
  .card {
    width: 270px;
  }
}
.card__img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-image: url(../img/ioccc_donut_small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card--img-grow {
  transition: all 0.25s ease-in-out;
}
.card--img-grow:hover {
  transform: scale(1.05);
  opacity: 0.5;
  position: relative;
}
.card__img, .card__link {
  margin-bottom: 10px;
}
.card__title, .card__link {
  width: 100%;
  text-align: left;
  color: #e5aa8c;
  font-family: "DM Sans", sans-serif;
}
.card__title {
  margin: 0 0 5px 15px;
  font-weight: 500;
  font-size: 20px;
}
.card__link {
  color: #748E54;
  margin-left: 30px;
  height: 20px;
  display: flex;
  align-items: center;
}
.card__arrow {
  font-size: 15px;
}

.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  background-color: #171E26;
  font-family: "DM Sans", sans-serif;
  color: #e5aa8c;
}
.footer__text-div, .footer__form {
  flex-basis: 100%;
}
@media (min-width: 768px) {
  .footer__text-div, .footer__form {
    flex-basis: 50%;
  }
}
.footer__text-div {
  padding: 20px;
}
.footer__header, .footer__email, .footer__number, .footer__p {
  margin-bottom: 20px;
}
.footer__email-number {
  display: flex;
  flex-direction: column;
}
.footer__form {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 400px;
}
.footer__field-container {
  flex-basis: 100%;
  padding: 5px 10px;
}
.footer__field-container-duel {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 5px 10px;
}
.footer__field-container-big {
  height: 150px;
}
.footer__form-field {
  width: 100%;
  height: 100%;
  background-color: #224444;
  color: #152828;
  outline: none;
  border-style: none;
  border-radius: 3px;
}
.footer__form-field1 {
  margin-right: 5px;
}
.footer__form-field2 {
  margin-left: 5px;
}
.footer__form-field5 {
  resize: none;
  color: #152828;
}
.footer__btn-div {
  padding: 5px 10px;
  height: 50px;
}
.footer--header {
  font-size: 35px;
}
.footer--email, .footer--number {
  color: #748E54;
  font-weight: 700;
  font-size: 20px;
}

input[type=button] {
  background-color: #171E26;
  border-radius: 5px;
  border: 3px solid #748E54;
  color: #748E54;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

input[type=button]:hover {
  background-color: #748E54;
  border: 3px solid #748E54;
  color: #152828;
}

::placeholder {
  color: #152828;
}

.btn {
  height: 100%;
  width: 120px;
}