@use "../abstracts" as *;

.db-title::before {
  content: 'SQL Queries in Sakila DB';
  color: $footer-bg-col;
  font-size: 50px;
  padding-top: 50px;
}

.code-link {
  text-decoration: underline;
  color: $sb-font-col;
}
.coding-example-image {
  width: 100%;
  transition:transform 0.25s ease;
}

.coding-example-image:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.img-align {
}

.code__wrapper {
  display: flex;
  flex-direction: column;

}

.code {
  &__container-sql {
    border-radius: 5px;
    width: 300px;
  }


  @media (min-width:600px) {
    &__container-sql {
      width: 368px;
    }
  }

  @media (min-width:$tablet) {
    &__container-sql {
      width: 500px;
    }
  }
  @media (min-width:$medium) {
    &__container-sql {
    }
  }
  @media (min-width:$large) {
    &__container-sql {
    }
  }

}

.db-title::before {
  padding-top: 35px;
  font-size: 30px;
  @media (min-width:$mobile) {
  }
  @media (min-width:$tablet) {
    padding-top: 50px;
    font-size: 40px;
  }
  @media (min-width:$medium) {
    font-size: 50px;
  }
  @media (min-width:$large) {
    font-size: 60px;
  }
}

.bg-h-db {
  height: 4620px;
  @media (min-width:$mobile) {
    height: 4650px;
  }
  @media (min-width:$tablet) {
      height: 4100px;
  }
  @media (min-width:$medium) {
      height: 4000px;
  }
  @media (min-width:$large) {
      height: 4000px;
  }

}

.table-bg {
  height: 100vh;
  width: 100%;
  background-color: $bg-col;
}

.table-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $bg-col;
}
//
// th {
//   color: $sb-font-col;
//   background-color: $sb-bg-col;
// }
//
// td {
//   text-align: left;
//   color: $sb-bg-col;
//   background-color: $crd-highlight !important;
//   border-right: 2px solid $sb-font-col;
//   border-left: 2px solid $sb-font-col;
//   border-top: 1px solid $bg-col;
// }
