@use "../abstracts" as *;

.footer{
  width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  background-color: $footer-bg-col;
  font-family: 'DM Sans', sans-serif;
  color: $sb-font-col;


  &__text-div,
  &__form {
    flex-basis: 100%;
    // change to 50% for higher breakpoint
    @media (min-width: $tablet) {
      flex-basis: 50%;
    }
  }

  &__text-div {
    padding: 20px;
  }

  &__header,
  &__email,
  &__number,
  &__p {
    margin-bottom: 20px;
  }

  &__email-number {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    height: 400px;
  }

  &__field-container {
    flex-basis: 100%;
    padding:5px 10px;
  }

  &__field-container-duel {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 5px 10px;
  }

  &__field-container-big{
    height: 150px;
  }

  &__form-field {
    width: 100%;
    height: 100%;
    background-color: $bg-col;
    color: #152828;
    outline: none;
    border-style: none;
    border-radius: 3px;
  }

  &__form-field1 {
    margin-right: 5px;
  }

  &__form-field2 {
    margin-left: 5px;
  }

  &__form-field5 {
    resize: none;
    color: #152828;
  }

  &__btn-div {
    padding: 5px 10px;
    height:50px;
  }

  &--header {
    font-size: 35px;
  }

  &--email,
  &--number {
    color: $crd-highlight;
    font-weight: 700;
    font-size: 20px;
  }

}

input[type=button] {
  background-color: $footer-bg-col;
  border-radius: 5px;
  border: 3px solid $crd-highlight;
  color: $crd-highlight;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

input[type=button]:hover {
  background-color: $crd-highlight;
  border: 3px solid $crd-highlight;
  color: #152828;
}

::placeholder {
  color: #152828;
}

.btn {
  height: 100%;
  width: 120px;
}
