@use "../abstracts" as *;

.footer-aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-bg-col;
}

.footer-wrapper {
  width: auto;
  max-width:385px;
  height: 100%;
  background-color: $footer-bg-col;


  @media (min-width:$mobile) {
  }
  @media (min-width:$tablet) {
    max-width:760px;
    width: 760px;
  }
  @media (min-width:$medium) {

  }
  @media (min-width:$large) {
    max-width:900px;
    width: 900px;
  }

}

.footer{
  width:100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 0;
  background-color: $footer-bg-col;
  font-family: 'DM Sans', sans-serif;
  color: $sb-font-col;


  &__text-div,
  &__form {
    flex-basis: 100%;

    @media (min-width:$tablet) {
      flex-basis: 50%;
    }
    @media (min-width: $large) {

    }
  }

  &__text-div {
    padding: 20px;
  }

  &__header,
  &__email,
  &__number,
  &__p {
    margin-bottom: 20px;
  }

  &__email-number {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    height: 400px;
  }

  &__field-container {
    flex-basis: 100%;
    padding:5px 10px;

  }

  &__field-container-duel {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 5px 10px;
  }

  &__field-container-big{
    height: 150px;
  }

  &__form-field {
    width: 100%;
    height: 100%;
    background-color: $bg-col;
    color: #D98659;
    outline: none;
    border-style: none;
    border-radius: 3px;
    box-shadow: inset 0 0 5px black;
    padding-left: 15px;
  }

  &__form-field1 {
    margin-right: 5px;
  }

  &__form-field2 {
    margin-left: 5px;
  }

  &__form-field5 {
    resize: none;
    color: #152828;
  }

  &__btn-div {
    padding: 5px 10px;
    height:50px;
  }

  &--header {
    font-size: 35px;
  }

  &--email,
  &--number {
    color: $crd-highlight;
    font-weight: 700;
    font-size: 17px;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $crd-highlight;
    }
  }

  &--email {
    font-size: 14px;
  }

}


input[type=button] {
  background-color: $footer-bg-col;
  border-radius: 5px;
  border: 3px solid $crd-highlight;
  color: $crd-highlight;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

input[type=button]:hover {
  background-color: $crd-highlight;
  border: 3px solid $crd-highlight;
  color: #152828;
}

::placeholder {
  color: #D98659;
}

textarea {
  overflow: auto;
  padding-top: 15px;
  color: #D98659;
}


.btn {
  height: 100%;
  width: 120px;
}

.bottom {
  margin: 0 0 10px 0;
  width: 100%;
  height: auto;
  background-color: $footer-bg-col;

  &__foot-arrow-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  &--foot-text,
  &--foot-arrow {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    color: $sb-font-col;
    font-family: 'DM Sans';
  }
}
