@use "../abstracts" as *;

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  // Margin left must be the same width as the sidebar
  margin-left: 0;
  @media (min-width:500px) {
    margin-left: 130px;
  }
  @media (min-width:$tablet) {
    margin-left: 140px;
  }
  @media (min-width:$medium) {
    margin-left: 150px;
  }
  @media (min-width:$large) {
    margin-left: 160px;
  }
}
