@use "../abstracts" as *;

// sidebar styles

.sidebar-wrapper {
  display: none;
  height: 100vh;
  width: 120px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: $sb-bg-col;
  border-right: 2px solid $border-col;

  @media (min-width: 500px) {
    display: block;
  }
}



.sidebar {
  display: flex;
  flex-wrap: wrap;

  &__letter-block {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 118px;
    border-bottom: 2px solid $border-col;
  }

  &--letter {
    color: $border-col;
    font-weight: bold;
    font-size: 50px;

    &:hover {
      color: $crd-highlight
    }
  }

  &__nav-block {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items:  center;
    height: 160px;
    border-bottom: 2px solid $border-col;
    }

  &__nav-list {
    padding: 0;
  }

  &__list-item {
    padding: 7px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: $sb-font-col;;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1.2;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $crd-highlight;
    }
  }

  &__contact {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-bottom: 2px solid $border-col;

  }

  &--contact {
    color: $sb-font-col;
    font-family: 'DM Sans', sans-serif;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $crd-highlight;
    }
  }

  &__social-wrapper {
    height: 60px;
    width: 100px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social-div {
    flex-basis:80%;
    display: flex;
    justify-content: center;
  }

  &--icons {
    color: $sb-font-col;
    font-size: 25px;
    margin-top: 40px;
    &:hover {
      color: $crd-highlight;
    }
  }
}

// main and footer in general selectors partial must have margin left the
// same value as .sidebar-wrapper width

.sidebar-wrapper {
  @media (min-width:$mobile) {
    width: 130px;
  }
  @media (min-width:$tablet) {
    width: 140px;
  }
  @media (min-width:$medium) {
    width: 150px;
    border-right: 3px solid $border-col;
  }
  @media (min-width:$large) {
    width: 160px;
  }
}



.sidebar {

 //letter block matches the width of sidebar (minus the border) to remain square
  &__letter-block {
    @media (min-width:$mobile) {
      height: 128px;
    }
    @media (min-width:$tablet) {
      height: 138px;
    }
    @media (min-width:$medium) {
      height: 147px;
      border-bottom: 3px solid $border-col;
    }
    @media (min-width:$large) {
      height: 158px;
    }
  }

  &--letter {
    @media (min-width:$mobile) {
      font-size: 55px;
    }
    @media (min-width:$tablet) {
      font-size: 60px;
    }
    @media (min-width:$medium) {
      font-size: 65px;
    }
    @media (min-width:$large) {
      font-size: 70px;
    }
  }

  &__nav-block {
    @media (min-width:$mobile) {
      height: 165px;
    }
    @media (min-width:$tablet) {
      height: 175px;
    }
    @media (min-width:$medium) {
      height: 195px;
      border-bottom: 3px solid $border-col;
    }
    @media (min-width:$large) {
      height: 205px;
    }

  }

  // Font size changes to adapt to the size of sidebar
  &__list-item {
    @media (min-width:$mobile) {
      font-size: 13px;
    }
    @media (min-width:$tablet) {
      font-size: 15px;
    }
    @media (min-width:$medium) {
      font-size: 16px;
    }
    @media (min-width:$large) {
      font-size: 17px;
    }
  }

  &__contact {
    @media (min-width:$mobile) {
      height: 45px;
    }
    @media (min-width:$tablet) {
      height: 50px;
    }
    @media (min-width:$medium) {
      height: 55px;
      border-bottom: 3px solid $border-col;
    }
    @media (min-width:$large) {
      height: 60px;
    }
  }

  &--contact {
    @media (min-width:$mobile) {
      font-size: 17px;
    }
    @media (min-width:$tablet) {
      font-size: 20px;
    }
    @media (min-width:$medium) {
      font-size: 22px;
    }
  }

  &--icons {
    @media (min-width:$mobile) {
      font-size: 27px;
    }
    @media (min-width:$tablet) {
      font-size: 30px;
    }
    @media (min-width:$medium) {
      font-size: 35px;
    }
    @media (min-width:$large) {
      font-size: 40px;
    }
  }
}
