// Breakpoint Variables for min-width (mobile first design)

$mobile: 425px;
//425-768px: mobile
$tablet: 768px;
//768-992px: tablet
$medium: 992px;
//992-1260px: medium
$large: 1260px;
//1260px> : large

// These are just left here to make it easier to copy and paste across partials

@media (min-width:$mobile) {
}
@media (min-width:$tablet) {
}
@media (min-width:$medium) {
}
@media (min-width:$large) {
}
