// Colours
$sb-bg-col: #232d3a;

$bg-col: #224444;

// #1C3636 #224444 #285251

$footer-bg-col: #171E26;

$border-col: #e5aa8c;

$sb-font-col: #e5aa8c;

$bg-font-col: white;

$crd-highlight: #748E54;


// potential duo-tone palettes

// #e5aa8c
// #232d3a

//

//  white
//  #53B5CD


// #748E54
// #CAFE48
// #8DA1B9
//
