// Colours
$sb-bg-col: #171E26;

$bg-col: #1C3636;

$footer-bg-col: #171E26;

$card-bg-col: #232d3a;

$border-col: #e5aa8c;

$border-col-drk : #D26B37;

$sb-font-col: #e5aa8c;

$bg-font-col: white;

$crd-highlight: #748E54;


// potential duo-tone palettes

// #e5aa8c
// #232d3a

//

//  white
//  #53B5CD

//experimenting with colours

// #748E54
// #CAFE48
// #8DA1B9
//

//Different bg greens

// #1C3636 #224444 #285251

//#232d3a
//#171E26
